html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-top {
  justify-content: center;
  height: 100vh;
}

.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-center *,
.content-top * {
  text-align: center;
  justify-content: center;
}

.mat-mdc-tab-body-wrapper {
  background-color: #d9dff0;
  display: block !important;
  width: 100%;
}

.loading-indicator {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(127, 139, 151, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}